<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="leavemsgNamespace">
    <!-- resultMap标签:映射实体与表
             type属性：表示实体全路径名
             id属性：为实体与表的映射取一个任意的唯一的名字
        -->
    <resultMap type="cn.blog.entity.Leavemsg" id="leavemsgMap">
        <!-- id标签:映射主键属性
			 result标签：映射非主键属性
		     property属性:实体的属性名
		     column属性：表的字段名
		-->
        <id property="id" column="id"/>
        <result property="user" column="user"/>
        <result property="mail" column="mail"/>
        <result property="content" column="content"/>
        <result property="date" column="date"/>
    </resultMap>


    <!--添加 一条 留言记录-->

    <insert id="addLeavemsg" parameterType="cn.blog.entity.Leavemsg" >
        insert into leavemsg(user,mail,content,date)
                  values(#{user},#{mail},#{content},#{date})
    </insert>

    <!-- 得到 所有的留言数据-->
    <select id="getAllLeavemsg" resultMap="leavemsgMap" >
        SELECT * FROM leavemsg;
    </select>

    <!--根据 id 删除 留言-->
    <delete id="deleteLeavemsgById" parameterType="int">
            delete from leavemsg where id=#{id};
    </delete>


</mapper>









