<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="tagNamespace">
    <!-- resultMap标签:映射实体与表
             type属性：表示实体全路径名
             id属性：为实体与表的映射取一个任意的唯一的名字
        -->
    <resultMap type="cn.blog.entity.Tag" id="tagMap">
        <!-- id标签:映射主键属性
			 result标签：映射非主键属性
		     property属性:实体的属性名
		     column属性：表的字段名
		-->
        <id property="id" column="id"/>
        <result property="tagName" column="tagName"/>
        <result property="blog_id" column="blog_id"/>
    </resultMap>
    <!--
		insert标签：要书写insert这么一个sql语句
		id属性：为insert这么一个sql语句取一个任意唯一的名字
		parameterType:要执行的dao中的方法的参数，如果是类的话，必须使用全路径类
	-->
    <!--把标签 加到数据库中-->
    <insert id="addTag" parameterType="cn.blog.entity.Tag" >
        insert into tag(tagName,blog_id)
        values(#{tagName},#{blog_id})
    </insert>


    <select id="getTagByBlogId" resultMap="tagMap" >
        SELECT * FROM tag
        WHERE blog_id=#{blog_id};
    </select>

    <select id="getAllTag" resultType="String">
        select tagName from tag group by tagName;
    </select>


</mapper>









